<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script th:inline="javascript">
  /*
  <![CDATA[*/
  document.addEventListener("DOMContentLoaded", function(){
    let channel = /*[[${list}]]*/ 'default';
    const idValue = '';
    console.log(channel[0].thumb_path);
  });
  /*]]>
  */
</script>
<body>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"> 상품 사진 </th>
    <th scope="col"> 상품 이름 </th>
    <th scope="col"> 상품 가격 </th>
    <th scope="col"> 상품 정보 </th>
    <th scope="col"> 배송비 </th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${list}">
    <td><img th:id = "${product.product_id}" src='' alt="" width="125" height="125"></td>
    <td><span th:text="${product.product_nm}"></span></td>
    <td><span th:text="${product.product_cost}"></span></td>
    <td><textarea th:text="${product.info}" readonly></textarea></td>
    <td><span th:text="${product.delivery_cost}"></span></td>
  </tr>
  </tbody>
</table>
</body>
</html>