<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
.header{
    width: 100%;
}
.header_header{
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}
.header_footer{
    margin: 0 auto;
}
.header_footer_category{
    margin: 0 auto;
    display: grid;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
}
</style>
<body>
<div class="header">
    <div class="header_header">
        <div>LOGO</div>
        <div>search area</div>
        <div>join</div>
        <div>login</div>
    </div>
    <div class="header_footer">
        <div class="header_footer_category">
            <div><span>나이키</span></div>
            <div><span>아디다스</span></div>
            <div><span>미즈노</span></div>
            <div><span>푸마</span></div>
            <div><span>기타 브랜드</span></div>
        </div>
    </div>
</div>

<div>footer</div>
</body>
</html>